@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.contact {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: rgba(37, 36, 36, 0.287);
  font-family: "Cinzel", serif;
}
.contact-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(27, 25, 26);
  text-shadow: 1px 1px 5px #ff0000e5;
  color: #fff;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-input {
  width: 95%;
  height: 2.5rem;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}
.contact-form-text {
  width: 95%;
  height: 6.25rem;
  resize: none;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}
.contact-button {
  border: none;
  outline: none;
  padding: 6px 45px;
  background-color: brown;
  color: white;
  margin-top: 10px;
}
.contact-button:hover {
  background-color: rgba(243, 12, 108, 0.65);
}
.contact-sub-title {
  font-size: 1.1rem;
  font-family: "Cinzel", serif;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-title {
    font-size: 1.5rem;
  }
  .contact-sub-title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 520px) {
  .contact-title {
    font-size: 1.3rem;
  }
  .contact-sub-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .contact-form-input {
    width: 98%;
    height: 2rem;
  }
  .contact-form-text {
    width: 98%;
    height: 4rem;
  }
  .contact-button {
    padding: 2px 35px;
    text-align: center;
    margin-top: 1rem;
  }
  .contact-title {
    font-size: 1.1rem;
  }
  .contact-sub-title {
    font-size: 0.8rem;
  }
  .contact {
    margin-top: 0.5rem;
  }
}
