body {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  background-attachment: fixed;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}
.app-container {
  padding-top: 20px;
}
.app-row {
  height: auto;
}

.app-main-content {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 1.563rem 0.938rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.685);
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #232526, #414345);
  color: #fff;
}
@media (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 991px) {
  .app-main-content {
    margin: 30px 0;
  }
}
